<h1>Eat-da-Burger!</h1>

<h2>Un-devoured burgers</h2>

<ul>
  {{#each burgers}}
    {{#unless eaten}}
      {{> burger/burger-block eaten=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers</h2>

<ul>
  {{#each burgers}}
    {{#if eaten}}
      {{> burger/burger-block eaten=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="" value="1" checked> !<br>
    <input type="radio" name="" value="0"> Awake
  </div>

  <button type="submit">Submit Burger</button>
</form>
